html, body
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Arial";
    height: 100vh;
    background: linear-gradient(to bottom, #ff0000b0, white);
    background-repeat: no-repeat;
}

header h1
{
    color: white;
    text-align: center;
}

main .pdatos h2
{
    text-align: center;
}