*
{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body
{
    margin: 0;
}

.main
{
    display: flex;
    position: absolute;
    background-color: #161717;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1
{
    margin-bottom: 1.7em;
}
h2
{
    margin:0 0 1.5em 0;
}

section
{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*gap: 30px;*/
    width: 500px;
    height: 100vh;
    margin: auto;
}

.botones-is
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 1.5em;
}

button
{
    display: flex;
    border: none;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    transition: opacity .3s;
}

.btn-google
{
    background-color: rgb(56, 56, 243);
}

.btn-google picture
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 3px;
}

.btn-google span
{

    font-weight: lighter;
    font-size: 14px;
    padding: 0 15px;
}

.btn-google img
{
    background-color: white;
    width: 25px;
}

button:hover
{
    opacity: .7;
    cursor: pointer;
}

.bi-twitter
{
    fill: #798282;
    padding: 10px;
}

.division
{
    display: flex;
    width: 100%;
    gap: 20px;
}

hr
{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #798282;
    margin-bottom: 1.5em;
}

.login
{
    display: flex;
    flex-direction: column;
}

.nom-us
{
    display: flex;
    gap:20px;
    
}

.nom-us-bo 
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input
{
    margin-bottom: 30px;
    border-radius: 8px;
    font-size: 19px;
    background-color: #212121;
    outline: none;
    border: solid 2px #212121;
    padding: 8px;
    transition: background-color 0.5s;
}

label
{
    font-weight: 700;
    margin-bottom: 5px;
}

input:hover, input:focus
{
    background-color: #454045;
}

button[type="submit"]
{
    background-color: rgb(223, 32, 134);
    height: 50px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    justify-content: center;
}

button:hover
{
    opacity: .75;
    transition: opacity .3s;
}

.light
{
    background-color: white;
    color: black;
}

.input_light, .input_light
{
    background-color: #f5f5f5ea;
    border-color:#f5f5f5ea;
}

.input_light:hover, .input_light:focus
{
    background-color: #ffffff;
}

.light-dark
{
    display: block;
    width: 3em;
    position: relative;
    top: 75px;
    left: 430px;
    background-color: gainsboro;
}

.light-dark .bi-moon-fill
{
    padding: .5em;
    fill: black;
}

.light-dark .bi-moon-fill-d
{
    padding: .5em;
    fill: white;
}